<!DOCTYPE html>
<html lang="en" ng-app = "MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Day6 Exercise</title>
    <link href = "/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></script>
    <script src = "/jquery/dist/jquery.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.js"></script>
    <script src = "/angular/angular.min.js"></script>
    <script src = "/index.js"></script>

</head>
<body ng-controller="MyCtrl as myCtrl">
    <form name="myForm" novalidate ng-submit="myCtrl.processForm()"> 
        Name:
        <input type="text" size = 30 name="name" >
        
        <button type="button" ng-click="myCtrl.clearForm()">Clear</buttom>
        <button type="submit">Submit</button>
    </form>
</body>
</html>